{% extends "components/base.html" %} {% block navbar %} {% include
    "components/navbar.html"%} {% endblock %} {% block sidebar %} {% if
    current_user.admin: %} {% include "components/adminbar.html"%} {% endif %} {%
    endblock %} {% block content %}
    
    <div class="p-3 text-center">
      <table class="w-full text-sm text-center text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3">Valve ID</th>
            <th scope="col" class="px-6 py-3">System ID</th>
            <th scope="col" class="px-6 py-3">Shift ID</th>
            <th scope="col" class="px-6 py-3">Current status</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        {% for valve in valves %}
        <tbody class="text-xs text-gray-700 text-center bg-gray-50">
          <tr class="bg-white border-b hover:bg-gray-50">
            <th class="px-3 py-2 uppercase text-[#0b545c] font-bold text-xs">
              {{ valve.valve_id }}
            </th>
            <td class="px-3 py-2 uppercase font-semibold text-xs">
              # {{ valve.system_id }}
            </td>
            <td class="px-3 py-2">
              {% for section in sections %}
                {% if valve.valve_id == section.valve_id %}
                # {{ section.shift_id }}
                {% endif %} {% endfor %}
            </td>
            <td class="px-3 py-2">
                {% if valve.status == True %}
                <div class="text-green-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mx-auto">
                        <path fill-rule="evenodd" d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z" clip-rule="evenodd" />
                    </svg>
                </div>
                {% elif valve.status == False %}
                <div class="text-red-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mx-auto">
                        <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 013-3h9a3 3 0 013 3v9a3 3 0 01-3 3h-9a3 3 0 01-3-3v-9z" clip-rule="evenodd" />
                    </svg>  
                </div>
                {% else %}
                <div class="text-grey-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mx-auto">
                        <path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 01.75-.75H9a.75.75 0 01.75.75v13.5a.75.75 0 01-.75.75H7.5a.75.75 0 01-.75-.75V5.25zm7.5 0A.75.75 0 0115 4.5h1.5a.75.75 0 01.75.75v13.5a.75.75 0 01-.75.75H15a.75.75 0 01-.75-.75V5.25z" clip-rule="evenodd" />
                    </svg>   
                </div>
                {% endif %}
            </td>
            <td class="px-3 py-2">
              <a
                data-modal-target="delete-{{valve.valve_id}}"
                data-modal-toggle="delete-{{valve.valve_id}}"
                class="font-medium text-red-600 hover:underline hover:cursor-pointer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-6 h-6 mx-auto"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </td>
          </tr>
          <!-- Main delete modal -->
          <div
            id="delete-{{valve.valve_id}}"
            tabindex="-1"
            class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full"
          >
            <div class="relative w-full h-full max-w-md md:h-auto">
              <div class="relative bg-white rounded-lg shadow">
                <button
                  type="button"
                  class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                  data-modal-hide="delete-{{valve.valve_id}}"
                >
                  <svg
                    aria-hidden="true"
                    class="w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
                <div class="p-6 text-center">
                  <svg
                    aria-hidden="true"
                    class="mx-auto mb-4 text-gray-400 w-14 h-14"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                  <h3 class="mb-5 text-lg font-normal text-gray-500">
                    Are you sure you want to delete {{ valve.valve_id }} ?
                  </h3>
                  <button
                    data-modal-hide="delete-{{ valve.valve_id }}"
                    onclick=deleteValve("{{valve.valve_id}}")
                    type="button"
                    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2"
                  >
                    Yes, I'm sure
                  </button>
                  <button
                    data-modal-hide="delete-{{valve.valve_id}}"
                    type="button"
                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
                  >
                    No, cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </tbody>
        {% endfor %}
      </table>
    </div>
    <!-- <div class="flex flex-nowrap">
      <a
        data-modal-target="add-valve-modal"
        data-modal-toggle="add-valve-modal"
        class="font-medium text-[#0b545c] hover:bg-green-60 hover:underline hover:cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-8 h-8 ml-10 mt-4"
        >
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </div>
     
    <div
      id="add-valve-modal"
      tabindex="-1"
      aria-hidden="true"
      class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full"
    >
      <div class="relative w-full h-full max-w-md md:h-auto">
        
        <div class="relative bg-white rounded-lg shadow">
          <button
            type="button"
            class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
            data-modal-hide="add-valve-modal"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 py-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium text-gray-900">
              Add new valve
            </h3>
            <form id="addValve" class="space-y-6" action="/base/valves">
              <div>
                <label
                  for="system-owner"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Designated system</label
                >
                <select
                  id="system-id"
                  name="system_id"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                >
                  {% for system in systems %}
                  <option value="{{system.id}}">
                    {{system.owner}}: #{{system.id}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <label
                  for="valve-id"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Create valve name</label
                >
                <input
                  type="text"
                  name="valve_id"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                />
              </div>
              <div>
                <label
                  for="valve-mode"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Select valve mode</label
                >
                <select
                  id="valve-mode"
                  name="mode"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                >
                  {% for mode in modes %}
                  <option value="{{mode}}">
                    {{mode}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <button
                type="submit"
                class="w-full text-white bg-[#0b545c] hover:bg-emerald-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                data-modal-hide="add-valve-modal"
              >
                Add valve
              </button>
            </form>
          </div>
        </div>
      </div>
    </div> -->
    
    {% endblock %} {% block script %}
    <script>
        function deleteValve(id) {
            fetch("/base/valve/" + id, {
              method: "DELETE",
            })
              .then((response) => response.json())
              .then((data) => {
                let _message = document.querySelector("#message");
                _message.innerHTML = data.detail;
          
                setTimeout(location.reload(), 3000);
              });
          }
    </script>
    {% endblock %}