{% if current_user.admin: %}
<div class="bg-[#0b545c] w-auto md:h-full lg:w-40 p-3">
  <button
    data-collapse-toggle="navbar-solid-bg"
    type="button"
    class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
    aria-controls="navbar-solid-bg"
    aria-expanded="false"
  >
    <span class="sr-only">Open main menu</span>
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <div class="hidden w-full md:block md:w-auto md:h-full" id="navbar-solid-bg">
    <ul
      class="flex flex-col mt-4 rounded-lg bg-[#0b545c] md:flex-col md:space-y-8 md:text-md text-white md:font-medium md:border-0"
    >
      <li>
        <a
          href="/profile"
          class="block py-2 pl-3 pr-4 rounded hover:text-[#0b545c] hover:bg-gray-100 md:bg-transparent md:border-0 md:hover:text-[#0b545c]"
        >
          <img
            class="w-6 h-6 rounded-full inline-block mr-2"
            src="static/images/users.png"
            alt="User image"
          />
          Users</a
        >
      </li>
      <li>
        <a
          href="/systems"
          class="block py-2 pl-3 pr-4 rounded hover:text-[#0b545c] hover:bg-gray-100 md:bg-transparent md:border-0 md:hover:text-[#0b545c]"
        >
          <img
            class="w-6 h-6 rounded-full inline-block mr-2"
            src="static/images/system.png"
            alt="system image"
          />
          System</a
        >
      </li>
      <li>
        <a
          href="/pumps"
          class="block py-2 pl-3 pr-4 rounded hover:text-[#0b545c] hover:bg-gray-100 md:bg-transparent md:border-0 md:hover:text-[#0b545c]"
        >
          <img
            class="w-6 h-6 rounded-full inline-block mr-2"
            src="static/images/pump.png"
            alt="pump image"
          />
          Pumps</a
        >
      </li>
      <li>
        <a
          href="/valves"
          class="block py-2 pl-3 pr-4 rounded hover:text-[#0b545c] hover:bg-gray-100 md:bg-transparent md:border-0 md:hover:text-[#0b545c]"
        >
          <img
            class="w-6 h-6 rounded-full inline-block mr-2"
            src="static/images/valve.png"
            alt="valve image"
          />
          Valves</a
        >
      </li>
      <li>
        <a
          href="/sensors"
          class="block py-2 pl-3 pr-4 rounded hover:text-[#0b545c] hover:bg-gray-100 md:bg-transparent md:border-0 md:hover:text-[#0b545c]"
        >
          <img
            class="w-6 h-6 rounded-full inline-block mr-2"
            src="static/images/sensor.png"
            alt="sensor image"
          />
          Sensors</a
        >
      </li>
      <li>
        <a
          href="/logs"
          class="block py-2 pl-3 pr-4 rounded hover:text-[#0b545c] hover:bg-gray-100 md:bg-transparent md:border-0 md:hover:text-[#0b545c]"
        >
          <img
            class="w-6 h-6 rounded-full inline-block mr-2"
            src="static/images/log.png"
            alt="log image"
          />
          Logs</a
        >
      </li>
    </ul>
  </div>
</div>

{% endif %}
